* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Mulish', sans-serif;
    transition: 0.3s all ease-in-out;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #6a11cb, #2575fc); /* Gradient background */
    font-size: 16px;
}

.shadow-wrap {
    border-radius: 10px;
    padding: 30px;
    background-color: #939fd6;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1); /* Soft shadow effect */
    transition: 0.3s all ease-in-out;
}

.shadow-wrap:hover {
    transform: translateY(-5px); /* Hover effect to lift the box */
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.2); /* Enhanced shadow on hover */
}

.form-wrap {
    background-color: #fff;
    padding: 50px 70px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Menghilangkan styling khusus pada form dan input */
.form-wrap form {
    padding: 0; /* Hapus padding pada form */
}

.form-wrap form * {
    display: block;
    width: 100%;
}

.form-wrap form input,
.form-wrap form button {
    border: 2px solid #DAE1F5; /* Border lebih jelas untuk input */
    padding: 10px; /* Atur padding umum */
    font-size: 14px;
    margin-bottom: 10px; /* Set margin umum */
    transition: 0.3s all ease-in-out; /* Transisi untuk efek fokus */
}

/* Gaya untuk input yang lebih jelas ketika difokuskan */
.form-wrap form input:focus {
    border-color: #2575fc; /* Warna biru terang ketika fokus */
    outline: none;
    box-shadow: 0 0 5px rgba(37, 117, 252, 0.6); /* Efek cahaya biru di sekitar input */
}

#id_username {
    margin-bottom: 10px; /* Set margin lebih kecil untuk username */
}

/* Styling untuk tombol */
.form-wrap button {
    background-color: #2575fc; /* Tombol dengan warna biru terang */
    color: #fff;
    font-size: 16px;
    padding: 14px 72px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s all ease-in-out;
}

.form-wrap button:hover {
    background-color: #10182F; /* Tombol berubah warna ketika di-hover */
    color: #fff;
    transform: scale(1.05); /* Efek memperbesar tombol saat dihover */
}

.signup-link {
    color: #10182F;
    font-size: 15px;
    margin-top: 20px;
    text-align: center;
    line-height: 25px;
    display: block;
    text-decoration: none;
    font-weight: 600;
}

.signup-link:hover {
    text-decoration: underline;
    color: #2575fc; /* Change color on hover */
}

/* Responsive adjustments */
@media (max-width: 768px) {
    .shadow-wrap {
        padding: 20px;
    }

    .form-wrap {
        padding: 40px;
    }

    .form-wrap button {
        padding: 12px 50px;
    }
}
